<div class="ui main container">
  <div class="pagetitle">
    <h2 class="ui header">My projects</h2>
    <div class="buttons"><button class="ui positive button" (click)="initializeNew()">Add New Project</button></div>
  </div>

  <div class="ui three stackable cards">
    <div class="ui card" *ngFor="let project of projects | async; let i = index;">
      <div class="color" [style.backgroundColor]="project.name | hashcolor"></div>
      <div class="content">
        <div class="header">{{ project.name }}</div>
        <div class="description">
          This {{ niceWord(i) }} project is last updated {{ project.updated | timeAgo }} ago and contains {{ project.meta?.pageData | pageAndArtboardCount }}.
        </div>
      </div>
      <div class="extra content">
        <button class="ui basic button" (click)="selectedProject(project)">View project</button>
      </div>
    </div>
  </div>
</div>
