<app-project-form [project]="selectedProject" [addProject]="addBool" (hideList)="showOrHide($event)"></app-project-form>

<app-project-list (selectProject)="getSelectedProject($event)" (add)="addOrUpdate($event)" (hideList)="showOrHide($event)" *ngIf="!hideList"></app-project-list>
