<div class="ui fixed stackable menu">
  <div class="ui container">
    <div class="item">
      <img class="logo" src="assets/images/logo.png">
      <strong>Sketch</strong> inspector
    </div>
    <a class="item">Home</a>
    <a class="item">Projects</a>
    <a class="item">Comments</a>

    <div class="right menu">
      <div class="item">
        <img class="ui avatar image" [src]="(user|async)?.photoURL">
        <span>{{(user|async)?.displayName}}</span>
      </div>
      <a class="item" (click)="logout()">Log out</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
