@import "../../styles";

.fixed.menu {
  background-color: #1234E6;
  color: #ffffff;

  .item, .item a, a.item {
    color: #ffffff;

    &:hover {
      color: #ffffff !important;
    }
  }

  .item:first-child {
    border-left: 0;
    padding-left: 0;
  }

  .item:last-child {
    padding-right: 0;
  }

  .logo {
    margin-right: 10px;
    width: 25px;
  }

  strong {
    margin-right: 3px;
  }

  .avatar.image {
    margin-right: 10px;
  }
}
