<div class="ui main container" *ngIf="project">
  <div class="ui active inverted dimmer" *ngIf="loading">
    <div class="ui text loader">Loading</div>
  </div>
  <form>
    <!-- New project -->
    <ng-container *ngIf="addProject">
      <div class="pagetitle">
        <h2 class="ui header">
          <input type="text" class="form-control" placeholder="Super awesome new project" [(ngModel)]="project.name" name="name" id="name">
        </h2>

        <div class="buttons">
          <button class="ui basic button" (click)="closeForm()">Back</button>
          <button type="submit" class="ui positive button" (click)="newProject()">Add project</button>
        </div>
      </div>

      <div class="dropzone">
        <input required accept=".sketchinspect" name="file" type="file" id="file">
        <label for="file"><span>Select your <strong>.sketchinspect</strong> file</span></label>
      </div>
    </ng-container>

    <!-- Update project -->
    <ng-container *ngIf="!addProject">
      <div class="pagetitle">
        <h2 class="ui header">
          <input type="text" class="form-control" placeholder="Super awesome new project" [(ngModel)]="project.name" name="name" id="name">
        </h2>
        <div class="buttons">
          <button class="ui basic button" (click)="closeForm()">Back</button>
          <button type="submit" class="ui positive button" (click)="updateProject()">Update project</button>
        </div>
      </div>

      <div class="dropzone" ngClass="!showUpload? 'hide'">
        <input required accept=".sketchinspect" name="file" type="file" id="file">
        <label for="file"><span>Select your <strong>.sketchinspect</strong> file</span></label>
      </div>

      <div *ngFor="let page of projectService.getProject(project)">
        <div class="pagetitle">
          <h2 class="ui header">{{ page.name }}</h2>
        </div>
        <div class="ui three stackable cards">
          <div class="ui card" *ngFor="let artboard of page.artboardId" (click)="log3(artboard)">
            <div class="image">
              <img [attr.data-artboard]="artboard" />
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
</div>
