h2 input {
  position: relative;
  top: 1px;
  padding: 5px 10px;
  border: 1px dashed rgba(#1234E6, .3);
  width: 400px;
  outline: none;
  border-radius: 2px;

  &:active,
  &:hover,
  &:focus {
    border: 1px dashed rgba(#1234E6, .4);
  }

  &::-webkit-input-placeholder {
    color: rgba(#123456, .3);
  }
  &::-moz-placeholder {
    color: rgba(#123456, .3);
  }
  &:-ms-input-placeholder {
    color: rgba(#123456, .3);
  }
  &:-moz-placeholder {
    color: rgba(#123456, .3);
  }
}

.buttons {
  .button {
    margin: 0 0 0 10px;
  }
}

.dropzone {
  //display: block;
  //width: 100%;
  //height: 400px;
  //border: 1px dashed rgba(#1234E6, .3);
  //border-radius: 3px;
  //overflow: hidden;

  &.hide {
    display: none;
  }

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 400px;
      border: 1px dashed rgba(#1234E6, .3);
      overflow: hidden;
      cursor: pointer;
      border-radius: 1px;

      span {
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 400;
        background: #1234E6;
        color: #ffffff;
        display: inline-block;
        margin: 0 auto;
      }

      & * {
        pointer-events: none;
      }
    }

    &:focus + label span,
    & + label:hover span{
      background-color: #123456;
    }
  }
}

.cards {
  margin-bottom: 30px;
}

.card {
  .image {
    padding: 15px;

    img {
      background: #fff;
      object-fit: cover;
      height: 180px;
      object-position: 50% 0%;
      overflow: hidden;
    }
  }
}
