h1, p {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;
}

h1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 1;

  strong {
    font-weight: 900;
  }
}

.login {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  top: calc(50vh - 200px);
}

.login__form {
  background: rgba(#ffffff, .1);
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.button {
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }

  &.google {
    background: #EB4637;

    &:hover {
      background: lighten(#EB4637, 5);
    }
  }

  &.github {
    background: #2A2A2A;

    &:hover {
      background: lighten(#2A2A2A, 5);
    }
  }
}
