<div class="login">
  <h1><strong>Sketch</strong> inspector</h1>
  <p>Sketch inspector is een online tool waarmee designers Sketchdesigns beheren, feedback verzamelen en delen met ontwikkelaars voor een pixel-perfect resultaat.</p>

  <div class="login__form">
    <div class="ui grid">
      <div class="eight wide column">
        <button class="fluid ui google button" (click)="loginWithGoogle()">
          <i class="google icon"></i>
          Google
        </button>
      </div>
      <div class="eight wide column">
        <button class="fluid ui github button" (click)="loginWithGithub()">
          <i class="github icon"></i>
          Github
        </button>
      </div>
    </div>
  </div>

  <p *ngIf="message">{{ message }}</p>
</div>
