@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  transition: .2s all;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;

  &.bg--blue {
    background-color: #1234E6;
    background-image: linear-gradient(to bottom right, #1234E6 0%, #1234A6 100%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

a {
  color: #123456;

  &:hover {
    color: #1234E6 !important;
  }
}

.button {
  border-radius: 2px !important;
}

.main.container {
  position: relative;
  top: 100px;
  margin-bottom: 50px;

  .pagetitle {
    margin-bottom: 30px;
    @include clearfix;

    h2 {
      position: relative;
      top: 2px;
      display: inline-block;
    }

    .buttons {
      float: right;
    }
  }
}
